{% extends 'include/base.html' %}
{%load static%}
{%block style%}
<link rel="stylesheet" href="{%static 'films/css/register.css'%}">
{%endblock%}
{% block content %}
<h1>Реєстрація</h1>
<div class="mb-3"> 
    <h1>Реєстрація</h1>
    <form method="post">
        {% csrf_token %}
        <p>
            Нікнейм: {{form.username}} 
        </p> 
        <p>
            Ел.пошта: {{form.email}} 
        </p> 
        <p>
            Пароль: {{form.password1}} 
        </p> 
        <p>
            Підтвердження паролю: {{form.password2}} 
        </p> 
        <button type="submit" class="btn btn-success">Зареєструватись</button>
    </form> 
    <br>
    <span style="color:black">Вже маєте акаунт?</span>
    <a href="{%url 'login'%}">
        Логін
    </a>
</div>


{% endblock %}