body{
    background-color: rgb(31, 31, 31);
    color: white;
}

/* navbar settings */
#navbarDropdown{
    justify-content: end;
    margin-right: 30px;
}

#dropdown_menu{
    width: 100%;
}

.flagua{
    display: inline-block;
    justify-content: end;
    width: 50px;
    height: 30px;
}
/* ----------- */

h2{
    text-align: center;
    margin-top: 50px;
}